@{
    ViewData["Title"] = "Actualizar Informacion";
    Layout = "_Layout";
}

@section Estilos {
    <link href="~/css/clienteActualizar.css" rel="stylesheet" />
}

<main class="modify">
    <form method="post" action="@Url.Action("Logout", "Cuenta")">
        <button class="button__logout" type="submit">Cerrar Sesion</button>
    </form>
</main>