<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Panel de Gestion</title>

    <link href="~/css/admin.css" rel="stylesheet" />
</head>
<body>
    <h1>admin</h1>
    <div>
        @RenderBody()
    </div>
</body>
</html>
