.form__cliente {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.info__cliente {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px 25px;
    background-color: #f9f5ff;
    border-radius: 1rem;
}

.title {
    letter-spacing: 1.5px;
    font-size: 18px;
    font-weight: 600;
}

.lbl {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0;
    display: block;
    letter-spacing: 1px;
}

.input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
    border: 2px solid #ddd;
}

.input:hover {
    border-color: #4a90e2;
    box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.2);
    outline: none;
}

.container__actions {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.btn {
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
}

.btn__exit {
    background-color: #ff2323;
    color: #fff;
    text-decoration: none;
}

.btn__exit:hover {
    background-color: #c80d0d;
}

.btn__save {
    background-color: #00e624;
    color: #fff;
}

.btn__save:hover {
    background-color: #00b821;
}
