table {
    width: 100%;
    border-collapse: collapse;
}

.table__header th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    letter-spacing: 2px;
}

table thead th, table td {
    padding: 15px 5px;
}

table tbody {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

tbody tr {
    transition: 0.3s ease;
}

tbody tr:hover {
    background-color: #f9f5ff;
}

.img__producto {
    width: 90px;
    height: 90px;
    border-radius: 5px;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s ease;
    padding: 10px;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.btn__edit:hover {
    background-color: #90ff96;
}

.btn__delete:hover {
    background-color: #ff9494;
}

.img__editar {
    width: 25px;
    height: 25px;
}

.img__eliminar {
    width: 25px;
    height: 25px;
}

/* Mensaje de error */

.custom-alert {
    position: relative;
    padding: 1rem 2rem 1rem 1rem;
    background-color: #f44336;
    color: white;
    border-radius: 5px;
    margin: 10px 0;
    animation: fadeOut 10s forwards;

}

.close-btn {
    position: absolute;
    top: 0.3rem;
    right: 0.8rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}