@{
    ViewData["Title"] = "Carrito";
    Layout = "_Layout";
}

@section Estilos {
    <link href="~/css/carrito.css" rel="stylesheet" />
}

<main class="cart">
    <div class="container__title">
        <h1 class="cart__title">Carrito</h1>
    </div>

    <table class="cart__table">
        
        <thead class="table__header">
            <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
                <th>Eliminar</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <img class="product__img" src="~/img/Home/productos/mando.jpg"/>
                </td>
                <td>220</td>
                <td>3</td>
                <td>680</td>
                <td>
                    <a>
                        <img class="icon__img" src="~/img/carrito/delete_cart.png" />
                    </a>
                </td>
            </tr>
        </tbody>

    </table>

    <div class="content">
        <section class="section__pay">
            <div class="container__pay">
                <span class="title__pay">Total de Carrito</span>
                <div class="pay">
                    <span>Subtotal:</span>
                    <span>1750 Bs.</span>
                </div>
                <div class="pay">
                    <span>Total:</span>
                    <span>1750 Bs.</span>
                </div>
                <div class="container__buttom">
                    <a class="link__pay">Proceso de pago</a>
                </div>
            </div>
        </section>
    </div>
</main>
