@model tienda_electronica.Models.Usuarios.Usuario

@{
    ViewData["Title"] = "Agregar Usuario";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Estilos {
<link href="~/css/agregarUsuario.css" rel="stylesheet" />
}

<form asp-action="Guardar" asp-controller="Usuarios" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="idUsuario"/>
    @if (Model.idUsuario == 0)
    {
        ViewData["Title"] = "Agregar Usuario";
    }
    else
    {
        ViewData["Title"] = "Editar Usuario";
    }

    <main class="form__usuario">
        <section class="info__user">
            <div>
                <h2 class="title">INFORMACION GENERAL DEL USUARIO</h2>
            </div>
            <div>
                <label class="lbl" for="nombre">Nombre del usuario</label>
                <input class="input" asp-for="nombre" type="text" placeholder="Alberto" required/>
            </div>
            <div>
                <label class="lbl" for="apellido">Apellido del usuario</label>
                <input class="input" asp-for="apellido" type="text" placeholder="Garcia Cardozo" required/>
            </div>
            <div>
                <label class="lbl" for="email">Email del usuario</label>
                <input class="input" asp-for="email" type="email" placeholder="Alberto@gmail.com" />
            </div>
            <div>
                <label class="lbl" for="contrasena">Contraseña del usuario</label>
                <input class="input" asp-for="contrasena" type="password" placeholder="albertoGC051&" required/>
            </div>
        </section>
        <section class="img__user">
            <div class="upload__container">
                <label class="upload__lbl" for="rutaFotoEmpleado">
                    @if (string.IsNullOrEmpty(Model.rutaFotoEmpleado))
                    {
                        <span class="upload__span">Cargar Imagen Del Usuario</span>
                    }
                    <input  class="upload__input" asp-for="rutaFotoEmpleado" type="file" accept="image/*" />
                    @if (!string.IsNullOrEmpty(Model.rutaFotoEmpleado))
                    {
                        <img class="img" src="@Model.rutaFotoEmpleado" alt="Imagen actual del usuario"/>
                    }
                </label>
            </div>
            <div class="container__rol">
                <label class="lbl" for="rol">Rol</label>
                <select asp-for="rol" asp-items="ViewBag.Roles" class="select__rol" required>
                    <option value="">Seleccione un rol</option>
                </select>
            </div>
        </section>
        <div class="container__actions">
            <a href="@Url.Action("Gestion", "Usuarios")" class="btn btn__exit">Salir</a>
            @if (Model.idUsuario == 0)
            {
                <button type="submit" class="btn btn__save">Guardar</button>
            }
            else
            {
                <button type="submit" class="btn btn__save">Actualizar</button>
            }
        </div>
    </main>
</form>
