@{
    ViewData["Title"] = "Agregar Usuario";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Estilos {
    <link href="~/css/agregarUsuario.css" rel="stylesheet" />
}

<main>
    <h2>INFORMACION GENERAL DEL USUARIO</h2>
</main>
