@{
    ViewData["Title"] = "Agregar Usuario";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Estilos {
    <link href="~/css/agregarUsuario.css" rel="stylesheet" />
}

<main class="form__usuario">
    <section class="info__user">
        <div>
            <h2 class="title">INFORMACION GENERAL DEL USUARIO</h2>
        </div>
        <div>
            <label class="lbl" for="nombre_usuario">Nombre del usuario</label>
            <input class="input" id="nombre_usuario" type="text" placeholder="Alberto" />
        </div>
        <div>
            <label class="lbl" for="apellido_usuario">Apellido del usuario</label>
            <input class="input" id="apellido_usuario" type="text" placeholder="Garcia Cardozo" />
        </div>
        <div>
            <label class="lbl" for="email_usuario">Email del usuario</label>
            <input class="input" id="email_usuario" type="email" placeholder="Alberto@gmail.com" />
        </div>
        <div>
            <label class="lbl" for="contra_usuario">Contraseña del usuario</label>
            <input class="input" id="contra_usuario" type="password" placeholder="albertoGC051&" />
        </div>
    </section>
    <section class="img__user">
        <div class="upload__container">
            <label class="upload__lbl" for="image-upload">
                <span class="upload__span">Cargar Imagen Del Usuario</span>
                <input class="upload__input" id="image-upload" type="file" accept="image/*" />
            </label>
        </div>
        <div class="container__rol">
            <details class="dropdown">
                <summary>Roles</summary>
                <ul>
                    <li><a href="#">Administrador</a></li>
                    <li><a href="#">Gestor de productos</a></li>
                    <li><a href="#">Gestor de ventas</a></li>
                </ul>
            </details>
        </div>
    </section>
    <div class="container__actions">
        <button class="btn btn__exit">Salir</button>
        <button class="btn btn__save">Guardar</button>
    </div>
</main>
