<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <h1>Hyper Mega Red</h1>
        <nav>
            <a>Inicio</a>
            <a>Contacto</a>
            <a>Acerca de nosotros</a>
            <a>Registrarse</a>
        </nav>
        <input type="text" placeholder="Que estas buscando?"/>
        <img src="~/img/nav/lupa.png" alt="Imagen de una lupa como buscador"/>
        <img src="~/img/nav/favorito.png" alt="Imagen de un corazon para agregar a favoritos"/>
        <img src="~/img/nav/carro-de-la-compra.png" alt="Imagen de un carrito de compras para agregar productos"/>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
