<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <h1>Hyper Mega Red</h1>
        <nav>
            <a>Inicio</a>
            <a>Contacto</a>
            <a>Acerca de nosotros</a>
            <a>Registrarse</a>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
