@{
    ViewData["Title"] = "Agregar Producto";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Estilos{
    <link href="~/css/agregarProducto.css" rel="stylesheet" />
}

<main class="form__product">
    <section class="info__product">
        <div class="title__state">
            <h2 class="title">INFORMACION GENERAL DEL PRODUCTO</h2>
            <div class="container__state">
                <button class="btn btn__public">Publicado</button>
                <button class="btn btn__nopublic">No Publicado</button>
            </div>
        </div>
        <div class="container__name">
            <label class="lbl" for="input_nombre_producto">Nombre del producto</label>
            <input class="input__name" id="input_nombre_producto" type="text" placeholder="Laptop HP Victus 15" />
        </div>
        <div class="container__description">
            <label class="lbl" for="input_descripcion_producto">Descripcion del producto</label>
            <textarea class="input__description"
                      id="input_descripcion_producto"
                      type="text" placeholder="Escribe una descripción..."
                      rows="5">
            </textarea>
        </div>
        <div class="additional__img">
            <label class="additional__lbl" for="additional__img">
                <span class="upload__span">Cargar imagenes adicionales (maximo 4)</span>
                <input id="additional__img" class="upload__input" type="file" />
            </label>
        </div>
    </section>
    <section class="imgprice__product">
        <div class="upload__container">
            <label class="upload__lbl" for="image-upload">
                <span class="upload__span">Cargar Imagen Principal</span>
                <input class="upload__input" id="image-upload" type="file" accept="image/*" />
            </label>
        </div>
        <label class="lbl" for="input_precio_producto">Precio</label>
        <input class="input__price" id="input_precio_producto" type="text" placeholder="0"/>
        <label class="lbl" for="input_precio_descuento">Precio con descuento</label>
        <input class="input__price" id="input_precio_descuento" type="text" placeholder="0"/>
        <label class="lbl" for="input_stock_producto">Stock</label>
        <input class="input__price" id="input_stock_producto" type="number" placeholder="0"/>
    </section>
    <div class="container__actions">
        <button class="btn btn__exit">Salir</button>
        <button class="btn btn__save">Guardar</button>
    </div>
</main>