@{
    ViewData["Title"] = "Detalle del Producto";
    Layout = "_Layout";
}

@section Estilos{
    <link href="~/css/detalle.css" rel="stylesheet" />
}

<main class="detail">
    <div class="detail__content">
        <div class="img__column">
            <img class="img__small" src="~/img/home/productos/mando.jpg" />
            <img class="img__small" src="~/img/home/productos/mando.jpg" />
            <img class="img__small" src="~/img/home/productos/mando.jpg" />
            <img class="img__small" src="~/img/home/productos/mando.jpg" />
        </div>
        <img class="img__main" src="~/img/home/productos/mando.jpg" />
        <div>
            <h1>Mando inalámbrico Xbox</h1>
            <span>300 Bs.</span>
            <p>
                Disfruta del diseño modernizado del Mando inalámbrico Xbox, con superficies esculpidas y una geometría refinada para una mayor 
                comodidad durante el juego. Toma el control con el agarre texturizado y la cruceta híbrida. Captura y comparte contenido sin 
                problemas con un botón Compartir dedicado. Empareja rápidamente, juega y cambia entre dispositivos como Xbox Series X|S, 
                Xbox One, PC Windows, Android e iOS.*
            </p>
            <div>
                <button>-</button>
                <span>2</span>
                <button>+</button>
                <button>Comprar Ahora</button>
                <button>
                    <img class="img__favorite" src="~/img/nav/favorito.png" />
                </button>
            </div>
        </div>
    </div>
</main>


