@{
    ViewData["Title"] = "Detalle del Producto";
    Layout = "_Layout";
}

@section Estilos{
    <link href="~/css/detalle.css" rel="stylesheet" />
}

<main class="detail">
    <div class="detail__content">
        <div class="img__column">
            <img class="img__small" src="~/img/home/productos/mando.jpg" />
            <img class="img__small" src="~/img/home/productos/mando.jpg" />
            <img class="img__small" src="~/img/home/productos/mando.jpg" />
            <img class="img__small" src="~/img/home/productos/mando.jpg" />
        </div>
        <img class="img__main" src="~/img/home/productos/mando.jpg" />
        <div class="detail__info">
            <h1 class="name__product">Mando inalámbrico Xbox</h1>
            <span class="stock__product">En stock</span>
            <span class="price__product">300 Bs.</span>
            <p class="description__product">
                Disfruta del diseño modernizado del Mando inalámbrico Xbox, con superficies esculpidas y una geometría refinada para una mayor 
                comodidad durante el juego. Toma el control con el agarre texturizado y la cruceta híbrida. Captura y comparte contenido sin 
                problemas con un botón Compartir dedicado. Empareja rápidamente, juega y cambia entre dispositivos como Xbox Series X|S, 
                Xbox One, PC Windows, Android e iOS.
            </p>
            <hr />
            <div class="detail__button">
                <div class="counter">
                    <button class="counter__btn counter__btn--disaggregate">-</button>
                    <span class="counter__value">2</span>
                    <button class="counter__btn counter__btn--add">+</button>
                </div>
                <button class="buy__btn">Comprar Ahora</button>
                <button class="favorite__btn">
                    <img class="img__favorite" src="~/img/nav/favorito.png" />
                </button>
            </div>
            <div class="detail__service">
                <div class="service">
                    <img class="service__img" src="~/img/detalle/camion.png" />
                    <div>
                        <h4 class="title__service">Entrega gratuita</h4>
                        <a class="service__link" href="#">
                            <p class="service__info">Ingrese su código postal para ver la disponibilidad de entrega</p>
                        </a>
                    </div>
                </div>
                <div class="service">
                    <img class="service__img" src="~/img/detalle/flchas-girando.png" />
                    <div>
                        <h4 class="title__service">Entrega de devolucion</h4>
                        <p class="service__info">
                            Envío y devolución gratuitos en 30 días. 
                            <a class="service__link" href="#">
                                Detalles
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


