@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Gestión de Productos";
}

@section Estilos {
    <link href="~/css/gestionProductos.css" rel="stylesheet" />
}

<main>

</main>