@{
    /*ViewData["Title"] = "Home Page";*/
    Layout = "_Layout";
}

@section Estilos {
    <link rel="stylesheet" href="~/css/inicio.css" />
}

<main class="content">
    <div class="promotions__container">
        <ul>
            <li>
                <a href="#">
                    <img class="promotions__apple" src="~/img/home/appledescuento.jpg" alt="Imagen de descuentos del 10% de productos apple" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="promotions__samsung" src="~/img/home/descuentorelojes.jpg" alt="Imagen de descuentos del 25% de relojes de samsung" />
                </a>
            </li>
        </ul>
    </div>

    <section class="section__products">
        <div class="section__containertitle">
            <div class="barra"></div>
            <div class="title__container">
                <h4 class="section__title">Productos</h4>
            </div>
            <div class="section__arrow">
                <button class="button__arrow">
                    <img class="arrow_img" src="~/img/home/flecha-izquierda.png" />
                </button>
                <button class="button__arrow">

                    <img class="arrow_img" src="~/img/home/flecha-derecha.png" />
                </button>
            </div>
        </div>
        <div class="article__container">
            <article class="product__container">
                <div class="img__container">
                    <img class="img__product" src="~/img/home/productos/mando.jpg" />
                    <button class="button__favorite">
                        <img class="icon__product" src="~/img/nav/favorito.png" />
                    </button>
                    <a href="#" class="button__eye">
                        <img class="icon__product" src="~/img/home/productos/ojo-abierto.png" />
                    </a>
                </div>
                <header class="product__header">
                    <h3 class="product__name">Mando</h3>
                    <span>220 Bs.</span>
                </header>
            </article>
        </div>
        <div class="view__container">
            <a href="@Url.Action("Index", "Productos")" class="bottom__view">Ver todos los productos</a>
        </div>
        <hr class="section__divider"/>
    </section>

    <section>
        <div class="section__containertitle">
            <div class="barra"></div>
            <div class="title__container">
                <h4 class="section__title">Categorias</h4>
            </div>
            <div class="section__arrow">
                <button class="button__arrow">
                    <img class="arrow_img" src="~/img/home/flecha-izquierda.png" />
                </button>
                <button class="button__arrow">

                    <img class="arrow_img" src="~/img/home/flecha-derecha.png" />
                </button>
            </div>
        </div>
        <div>
            <article class="article__container">
                <div class="category__container">
                    <a class="category__content" href="#">
                        <img class="img__category" src="~/img/home/categorias/telefono-inteligente.png" />
                        <h3 class="name__category">Telefonos</h3>
                    </a>
                </div>
            </article>
        </div>
        <hr class="section__divider" />
    </section>
    <section>
        <img class="img__speaker" src="~/img/home/publicidadparlantes.jpg" />
    </section>
    <section class="benefits__container">
        <div class="benefits__content">
            <div class="benefits__center">
                <div class="benefits__img--background">
                    <img class="benefits__img" src="~/img/home/servicios/camion.jpg" />
                </div>
            </div>
            <span class="benefits__title">ENTREGA GRATUITA Y RAPIDA</span>
            <p class="benefits__info">Envio gratuito para todos los pedidos superiores a 300 Bs</p>
        </div>

        <div class="benefits__content">
            <div class="benefits__center">
                <div class="benefits__img--background">
                    <img class="benefits__img" src="~/img/home/servicios/audifonos.jpg" />
                </div>
            </div>
            <span class="benefits__title">SERVICIO AL CLIENTE 24/7</span>
            <p class="benefits__info">Amigable atencion al cliente 24/7</p>
        </div>

        <div class="benefits__content">
            <div class="benefits__center">
                <div class="benefits__img--background">
                    <img class="benefits__img" src="~/img/home/servicios/correcto.jpg" />
                </div>
            </div>
            <span class="benefits__title">GARANTIA DE DEVOLUCION DE DINERO</span>
            <p class="benefits__info">Devolvemos el dinero en 30 dias</p>
        </div>
    </section>
</main>
