@{
    /*ViewData["Title"] = "Home Page";*/
    Layout = "_Layout";
}

@section Estilos {
    <link rel="stylesheet" href="~/css/inicio.css" />
}

<main class="content">
    <div class="promotions__container">
        <ul>
            <li>
                <a href="#">
                    <img class="promotions__apple" src="~/img/home/appledescuento.jpg" alt="Imagen de descuentos del 10% de productos apple" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="promotions__samsung" src="~/img/home/descuentorelojes.jpg" alt="Imagen de descuentos del 25% de relojes de samsung" />
                </a>
            </li>
        </ul>
    </div>

    <section class="section__products">
        <div class="section__containertitle">
            <div class="barra"></div>
            <div class="title__container">
                <h4 class="section__title">Productos</h4>
            </div>
        </div>
        <div class="article__container">
            <article class="product__container">
                <div>
                    <img class="img__product" src="~/img/home/productos/mando.jpg" />
                    <button>
                        <img class="icon__product" src="~/img/nav/favorito.png" />
                    </button>
                    <button>
                        <img class="icon__product" src="~/img/home/productos/ojo-abierto.png" />
                    </button>
                </div>
                <header class="product__header">
                    <h3 class="product__name">Mando</h3>
                    <span>220 Bs.</span>
                </header>
            </article>
        </div>
        <a>Ver todos los productos</a>
    </section>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</main>
