@{
    /*ViewData["Title"] = "Home Page";*/
    Layout = "_Layout";
}

@section Estilos {
    <link rel="stylesheet" href="~/css/inicio.css" />
}

<main class="content">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</main>
