@{
    ViewData["Title"] = "Agregar Categoria";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Estilos {
    <link href="~/css/agregarCategoria.css" rel="stylesheet" />
}

<mamin>
    <h1>xxxxxxxxxxxxxxxx</h1>
</mamin>
