@model tienda_electronica.Models.Categorias.Categoria

@{
    ViewData["Title"] = "Agregar Categoria";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Estilos {
<link href="~/css/agregarCategoria.css" rel="stylesheet" />
}

<form asp-action="Guardar" asp-controller="Categorias" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="idCategoria" />
    <main class="form__categoria">
        <section class="info__categoria">
            <div>
                <h2 class="title">INFORMACION GENERAL DE LA CATEGORIA</h2>
            </div>
            <div class="">
                <label class="lbl" for="nombre">Nombre de la categoria</label>
                <input class="input__name" asp-for="nombre" type="text" placeholder="Laptop HP Victus 15" />
            </div>
            <div class="container__description">
                <label class="lbl" for="descripcion">Descripcion de la categoria</label>
                <textarea class="input__description"
                asp-for="descripcion"
                type="text" placeholder="Escribe una descripción..."
                rows="5"></textarea>
            </div>
        </section>
        <div class="container__actions">
            <a class="btn btn__exit" href="@Url.Action("Gestion", "Categorias")">Salir</a>
            @if(Model.idCategoria == 0)
            {
                <button type="submit" class="btn btn__save">Guardar</button>
            }
            else
            {
                <button type="submit" class="btn btn__save">Actualizar</button>
            }
        </div>
    </main>
</form>
