@{
    ViewData["Title"] = "Agregar Categoria";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Estilos {
    <link href="~/css/agregarCategoria.css" rel="stylesheet" />
}

<main class="form__product">
    <section class="info__product">
        <div class="title">
            <h2>INFORMACION GENERAL DE LA CATEGORIA</h2>
        </div>
        <div class="container__name">
            <label class="lbl" for="input_nombre_producto">Nombre del producto</label>
            <input class="input__name" id="input_nombre_producto" type="text" placeholder="Laptop HP Victus 15" />
        </div>
        <div class="container__description">
            <label class="lbl" for="input_descripcion_producto">Descripcion del producto</label>
            <textarea 
                class="input__description" 
                id="input_descripcion_producto" 
                type="text" placeholder="Escribe una descripción detallada..."
                rows="5">
            </textarea>
        </div>
    </section>
    <div class="container__actions">
        <button class="btn btn__exit">Salir</button>
        <button class="btn btn__save">Guardar</button>
    </div>
</main>
