@{
    ViewData["Title"] = "Gestión de Categorias";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Estilos {
    <link href="~/css/gestionCategorias.css" rel="stylesheet" />
}

<main>
    
</main>
